<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap3.3.4.min.css}" >
    <link rel="stylesheet" th:href="@{/css/style.min.css}" >
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" >
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}">
    <script th:src="@{/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
    <!--消息提示框插件-->
    <script type="text/javascript" th:src="@{/js/dream-msg.min.js}"></script>
    <!--滚动条插件-->
    <script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.min.js}"></script>
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">
            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="#"><img th:src="@{/img/logo-1.png}"/></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main" shiro:hasRole="学生">
                    <div th:replace="../templates/student/stuInfo :: stuInfo "></div>
                    <ul class="nav nav-drawer">
                        <li class="nav-item active nav-item-has-subnav open">
                            <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 选课相关</a>
                            <ul class="nav nav-subnav active">
                                <li> <a th:href="@{/user/chooseCourse}">选课</a> </li>
                                <li> <a th:href="@{/choosecourse/showChooseResult}">选课结果</a> </li>
                                <li><a th:href="@{/user/history}">历史课程</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav open">
                            <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 成绩相关</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{/grade/thisGrade}">查看本学期成绩</a></li>
                                <li><a th:href="@{/grade/historyGrade}">查看历史课程成绩</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <!--End 左侧导航-->
        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title">主页</span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <span><span id="stuName" th:text="${session.userinfo.stuName}"></span><span class="caret"></span></span>
                                <input type="hidden" th:value="${session.userinfo.userId}" id="UserID" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" style="margin-top: 14px;margin-left: 20px;">
                                <li> <a th:href="@{/user/stuIndex}"><i class="mdi mdi-account"></i> 个人信息</a></li>
                                <li> <a href="#" onclick="logout()"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row" shiro:hasRole="学生">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                个人信息
                            </div>
                            <div class="card-body" style="height: 620px;padding: 0px;">
                                <div class="col-lg-6" id="info-panel" style="border-right: 1px solid #eeeeee;height: 300px;">
                                    <p style="color: #333333;font-weight: bold;font-size: 25px;" th:text="${session.userinfo.stuName}"></p>
                                    <span id="college" style="font-size: 12px;margin-right: 2px;" ></span> <span id="sclass" style="font-size: 12px" th:text="${session.userinfo.sclass}"></span>
                                </div>
                                <div class="col-lg-6" style="height: 300px;">
                                    <h4>通知</h4>
                                </div>
                                <div class="col-lg-6" id="info-panel2" style="border: 1px solid #eeeeee;height: 300px;margin-top: 20px;">
                                    <h4>课表</h4>
                                </div>
                                <div class="col-lg-6" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>
</html>